name: ci.yml
on:
  push:
    branches: [ "master" ]
    pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: '21'
          cache: maven

      - name: Build & test
        run: mvn --batch-mode --update-snapshots clean verify

